if SOC_PUPPY_V2

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 20000000

config SYS_CLOCK_TICKS_PER_SEC
	int
	default 31250

config RISCV_SOC_CONTEXT_SAVE
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default y

config MULTI_LEVEL_INTERRUPTS
	bool
	default y

config 2ND_LEVEL_INTERRUPTS
	bool
	default y

config 1ST_LEVEL_INTERRUPT_BITS
	int
	default 5

config 2ND_LEVEL_INTERRUPT_BITS
	int
	default 9

config NUM_2ND_LEVEL_AGGREGATORS
	int
	default 1

config MAX_IRQ_PER_AGGREGATOR
	int
	default 256

config 2ND_LVL_INTR_00_OFFSET
	int
	default 26

config 2ND_LVL_ISR_TBL_OFFSET
	int
	default 32

config NUM_IRQS
	int
	default 288

config CLOCK_CONTROL
	bool
	default y

config MP_MAX_NUM_CPUS
	default 1

config HAS_FLASH_LOAD_OFFSET
	bool
	default y
	depends on BOOTLOADER_MCUBOOT

config TIMER_HAS_64BIT_CYCLE_COUNTER
	bool
	default y

endif # SOC_PUPPY
