#include <caninos/puppy_v1.dtsi>
#include <mem.h>

/ {
	model = "puppy-testboard-v1";
	compatible = "caninos,puppy-testboard-v1";

	chosen {
		mcuboot,ram-load-dev = &sram;
		zephyr,code-partition = &slot0_partition;
		zephyr,flash-controller = &spi0;
		zephyr,sram = &sram;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		//zephyr,shell-uart = &uart1;
		zephyr,uart-mcumgr = &uart0;
	};

	aliases {
		led0 = &led0;
		mcuboot-button0 = &button0;
		mcuboot-led0 = &led0;
		eeprom-0 = &flash0;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>; // led3 on schematics
			label = "LED0";
		};
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = < &gpio0 10 GPIO_ACTIVE_HIGH>;
			label = "User button";
		};
	};
};

&intc {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	parity = "none";
};

&spi0 {
	status = "okay";

	flash0: flash@0 {
		compatible = "jedec,spi-nor";
        status = "okay";
        size = <DT_SIZE_M(8)>;
        reg = <0>;
        spi-max-frequency = <20000000>;
        erase-block-size = <DT_SIZE_K(4)>;
		write-block-size = <256>;

		partitions {
			compatible = "fixed-partitions";
			#size-cells = <1>;
			#address-cells = <1>;

			boot_partition: partition@1000 { // 65536B for bootloader
				reg = <0x1000 0x10000>;
				label = "boot_partition";
				read-only;
			};

			slot0_partition: partition@11000 { // 458752B for each image
				reg = <0x11000 0x70000>;
				label = "slot0";
			};

			slot1_partition: partition@71000 {
				reg = <0x71000 0x70000>;
				label = "slot1";
			};

			user_sketch: partition@E1000 { // 262144B for sketch
				reg = <0xE1000 0x40000>;
			};
		};
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;
	sda-pin = <24>;
	scl-pin = <25>;
};

&sdhc {
		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
	};
};
